body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.7;
}

@media(max-width:450px) {
  body {
    font-size: 120%
  }
}

a {
  text-decoration: none;
}

.root-container {
  margin: 0 auto;
  padding: 20px;
}

.package-list {
  padding: 0;
}

.package-list li {
  list-style-type: none;
}

.package-info>.section {
  margin-bottom: 20px;
}

.package-info>.section>.section-title {
  font-weight: bold;
}

.package-info>.section>.description {
  white-space: pre-wrap;
}
