html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media(max-width:450px) {
  html {
    font-size: 150%
  }
}

#root {
  /* height: 1024px; */
  width: 100%;
}

.root-container {
  margin: 0 auto;
  background-color: rgb(223, 223, 223);
  height: 100%;
  /* width: 100%; */
  padding: 20px;
}

ul {
  padding: 0;
}

.package-list {}

li {
  list-style-type: none;
}

.package-list li {
  margin-bottom: 5px;
}

/* .package-list li {
  list-style-type: none;
  padding: 10px 15px;
  background-color: rgb(247, 247, 247);
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
}

.package-list li:hover {
  background-color: rgb(255, 255, 255);
}

.package-list a {
  text-decoration: none;
} */

a {
  text-decoration: none;
}

.package-info > .section{
  margin-bottom: 20px;
}

.section .section-title {
  font-weight: bold;
}

.section .description {
  white-space: pre-wrap;
}